@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wallpoet&display=swap');

* {
  color: #3e334e;
  font-family: 'Inter tight';
  letter-spacing: 0.05em;
}

h1 {
  line-height: 48px;
}

p {
  line-height: 27px;
}

.appContainer {
  display: grid;
  grid-template-columns: auto minmax(auto, 600px);
  min-height: 100vh;
}

.backgroundCover {
  background: #7879f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backgroundCover .cover {
  padding: 88px;
  width: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(24px);
}

.backgroundCover .cover h1,
.backgroundCover .cover p {
  width: 50%;
}

.backgroundCover .cover h1 span {
  color: #fff;
}

.formSection {
  /* margin: 0 auto; */
  padding: clamp(1em, 1.2vw, 2em);
  margin: auto clamp(2em, 12vw, 5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(300px, 30vw, 450px);
  position: relative;
}

.notification {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.notification[data-status='success'] {
  background-color: rgb(60, 179, 113, 0.4);
}

.notification[data-status='redirect'] {
  background-color: rgb(106, 90, 205, 0.4);
}

.formWrapper {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  min-width: 260px;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.formControl label {
  font-weight: 600;
}

.formControl label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.formControl .inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formControl .inputWrapper input[type='email'],
.formControl .inputWrapper input[type='text'],
.formControl .inputWrapper input[type='password'] {
  padding: 1em;
  outline: none;
  border-radius: 8px;
  border: 1px solid #afa2c3;
}

.formControl .inputWrapper input[type='email']:focus,
.formControl .inputWrapper input[type='text']:focus,
.formControl .inputWrapper input[type='password']:focus {
  outline: 1px solid slateblue;
}

.formControl .inputWrapper .eyeIcon {
  position: absolute;
  top: 0;
  width: 40px;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formControl .errorMessage {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  font-size: 14px;
  margin-left: 0.5em;
}

.formControl .errorMessage .warningIcon {
  width: 18px;
  height: 18px;
}

.formControl .errorMessage span {
  color: burlywood !important;
}

.formControl .inputWrapper .eyeIcon .eye-outlined {
  width: 21px;
  height: 21px;
}

.formControl .inputWrapper .eyeIcon .eye-outlined:hover {
  cursor: pointer;
}

.checkboxForm {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 14px;
  width: 14px;
  outline: 1px solid slateblue;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  outline: 1px solid slateblue;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #7879f1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.4px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonSubmit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.divider {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.divider span {
  font-family: 14px;
}

.buttonAuth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.buttonLink {
  text-underline-offset: 3px;
}

button {
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

button[data-variant='primary'] {
  background: var(--iris-80, #7879f1);
  color: #fff;
}

button[data-variant='secondary'] {
  border: 1px solid #3e334e;
  color: inherit;
}

button[data-variant='primary']:hover,
button[data-variant='secondary']:hover {
  opacity: 0.7;
}

button[data-size='small'] {
  padding: 12px 1em;
  font-size: clamp(13px, 1.2vw, 1em);
}

button[data-size='medium'] {
  font-weight: 600;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(214, 214, 214);
}

@media (max-width: 980px) {
  .backgroundCover .cover h1,
  .backgroundCover .cover p {
    width: 100%;
  }
}

@media (max-width: 826px) {
  .appContainer {
    grid-template-columns: 1fr;
  }

  .backgroundCover {
    display: none;
  }

  .formSection {
    padding: clamp(1em, 1.2vw, 2em);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(300px, 30vw, 450px);
    position: relative;
  }
}
